.hero-section{
    // height: 700px;
    // background-image: url(../images/slider.jpg);
    background-size: cover;
    background-position:top;
    // @media (min-width: 768px) {
    //     display: block;
    // }
    .tns-outer{
        position: relative;
        .tns-controls{
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 50%;
            left:0;
            transform: translateY(-50%);
            width: 100%;
            z-index: 3;
            button{
                background-color: transparent;
                box-shadow: none;
                border:none;
                color:#fff;
                font-size: 3em;
                padding: 0 30px;
                &:hover{
                 opacity: 0.7;
                }
            }
        }
    }
    .slides{
        .slide{
            // background-image: url(../images/heroimg.jpg);
            background-size: cover;
            background-position: top center;
                .slide-main{
                    align-items: center; 
                    height:512px;
                .hero-text{ 
                    padding: 100px 0;
                    padding-bottom: 0;
                    text-align: center;
                    @media (min-width: 992px) {
                        padding: 46px 0;
                        text-align: left;
                    }
                    p{
                    // padding-left: 185px;
                    font-weight: 300;
                    font-style: italic;
                    color: #ffffff;
                    font-size: 2em;
                        @media (min-width: 992px) {
                            padding-left: 185px;
                            font-size: 3em;
                        }
                    }
                    .hero-heading{
                        padding-left: 0;
                        // font-style: italic;
                        color: #ffffff; 
                        @media (min-width: 992px) {
                            padding-left: 175px;
                        }
                         span{
                            background: linear-gradient(to right, #ffba02 6%,#e5ce5d 32%,#fcefb0 63%,#ec9601 84%);
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-family: $secondary-font;
                            font-weight: 700;
                            font-size: 2em;
                            @media (min-width: 992px) {
                                font-size: 3em;
                           }
                        }
                    }
                    .link-text{
                        width: 100%;
                        text-align: center;
                        // padding-top: 36px;
                        a{
                            color: #fff;
                            font-size: 2em;
                            text-decoration: none;
                            font-weight: 400;
                            i{
                                vertical-align: middle;
                                color: #010101;
                            }
                        }
                    } 
                }      
            }
        }
    }
}

//gallery section
.gallery-sec {
    margin-bottom: 30px;
    .section-heading{
        position: relative;
        margin-bottom: 40px;
        // &::before{
        //     content: "";
        //     position: absolute;
        //     width: 100px;
        //     height:2px;
        //     background-color: #000;
        //     bottom: 0;
        //     left: 50%;
        //     transform: translateX(-50%);
        // }
        .gallery-heading {
            text-align: center;
            text-transform: uppercase;
            padding-top: 50px;
            margin-bottom: 0;
            font-size: 2em;
            @media (min-width: 768px) {
                font-size: 3rem;
            }

            span {
                @include heading_gradient;
                font-weight: 700;
                font-family: $secondary-font;
            }
        }
        .gallery-heading-text {
            text-align: center;
            padding: 17px 0;
            font-weight: 400;
            font-family: $primary-font;
            color: #3a281f;
            font-size: 1.3em;
    
        }
        
    }
    .btn-container{
        margin: 2px 0;  
        text-align: center;
        @media (min-width: 768px){
            margin: 50px 0;  
        }
        a{
            text-decoration: none;
            color: #020202;
            font-size: 30px;
            font-weight: 400;
            i{
                vertical-align: middle;
            }
        }
        
    }
    .gallery{
        position: relative;
        box-shadow: -9px -9px #eac600;
        margin-bottom: 40px;
        @media (min-width: 768px) {
            margin-bottom: 0;
        }
        .gallery-img{
            width: 100%;
        }
        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            background: change-color(#000, $alpha: 0.5);
            top:0;
            left:0;
            transform:scale(0);
            transition: 0.1s ease-in-out;
            i{
                color: #fff;
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-size: 3em;
            }
        }

        &:hover{
            .overlay{
                transform: scale(1);
            }
        }
    }
}
//end gallery section

//trends section
.trend-section {
    // margin-top: 40px;
    margin-bottom: 80px;
    .section-heading{
        margin-bottom: 40px;
        .trend-heading{
            text-align: center;
            text-transform: uppercase;
            padding-top: 10px;
            margin-bottom: 0;
            font-size: 2em;
            @media (min-width: 768px) {
                font-size: 3rem;
            }

            span {
                @include heading_gradient;
                font-weight: 700;
                font-family: $secondary-font;
            }
        }
        .trend-heading-text {
            text-align: center;
            padding: 17px 0;
            font-weight: 400;
            font-family: $primary-font;
            color: #3a281f;
            font-size: 1.3em;
    
        }
    }
    .fashion-container{
        --grid-gap: 15px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "left" "rightTop" "rightBottom";
        gap: var(--grid-gap);

        @media (min-width: 576px) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "left left" "rightTop rightBottom";
        }
        
        @media (min-width: 768px) {
            grid-template-columns: 2fr 1fr 1fr;
            grid-template-areas: "left rightTop rightTopRight" "left rightBottom rightBottomRight";
            --grid-gap: 35px;
        }

        .fashion {
            .tns-outer {
                position: relative;

                .tns-nav {
                    position: absolute;
                    left: 50%;
                    bottom: 10px;
                    transform: translateX(-50%);
                    text-align: center;
                    z-index: 5;

                    button {
                        background: transparent;
                        border: 1px solid #fff;
                        box-shadow: none;
                        outline: none;
                        padding: 5px;
                        margin: 0 3px;
                        border-radius: 50%;
                        transition: all 0.12s ease-in-out;

                        &:first-child {
                            margin-left: 0;
                        }

                        &:last-child {
                            margin-right: 0;
                        }

                        &.tns-nav-active {
                            background: #fff;
                        }

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }

            .slides {
                .slide {
                    .slide-main {
                        @include fashion_image_section;
                    }
                }
            }
        }

        .left-fashion{
            grid-area: left;

            .slides {
                .slide {
                    .slide-main {
                        height: calc(560px + var(--grid-gap));

                        .fontlayer {
                            bottom: 30px;
                            right: 15px;
                            width: 40%;
                        }
                    }
                }
            }

            a{
                color: #fff;
                text-decoration: none;
                text-align: center;
                width: 100%;
                display: block;
                i{
                    vertical-align: middle;
                }
                
            }
        }

        .right-top-fashion{
            grid-area: rightTop;

            .slides {
                .slide {
                    .slide-main {
                        height: 280px;

                        .fontlayer {
                            bottom: 30px;
                            right: 15px;
                        }
                    }
                }
            }

            a{
                color: #fff;
                text-decoration: none;
                text-align: center;
                width: 100%;
                display: block;
                i{
                    vertical-align: middle;
                }
                
            }
        }
        .right-bottom-fashion{
            grid-area: rightBottom;

            .slides {
                .slide {
                    .slide-main {
                        height: 280px;

                        .fontlayer {
                            bottom: 30px;
                            right: 15px;
                        }
                    }
                }
            }

            a{
                color: #fff;
                text-decoration: none;
                text-align: center;
                width: 100%;
                display: block;
                i{
                    vertical-align: middle;
                }
                
            }
        }

        .right-top-right-fashion {
            grid-area: rightTopRight;
            
            .slides {
                .slide {
                    .slide-main {
                        height: 280px;
                    }
                }
            }
        }

        .right-bottom-right-fashion {
            grid-area: rightBottomRight;

            .slides {
                .slide {
                    .slide-main {
                        height: 280px;
                    }
                }
            }
        }
    }
        
}
//ends trends section

// service section start

.service-section{
    // padding-top: 60px;
    margin-top: 100px;
    .service-main{
        display: block;
        @media (min-width: 768px){
            display: flex;
        }

        .image{
            width: 70%;
            padding: 0 10px;
            margin: 0 auto;
            
            @media (min-width: 768px) {
                width: 30%;
                margin: initial; 
            }
        }
        .service-text{
            .service-top-text{
               
                font-weight: 600;
                font-size: 1.2em;
                color: #ffb600;
                text-align: center;
                letter-spacing: 3px;
                // padding-bottom: 20px;
                @media (min-width: 768px){
                    font-size: 2.1em;
                   
                    // padding-bottom: 0;
                }
            }
            .text{
                color: #000000;
                font-weight: 600;
                font-size: 0.9em;
                text-align: center;
                padding-bottom: 20px;
                @media (min-width: 768px){
                    font-size: 1em;
                    padding-bottom: 0;
                }
            }
        }
    
        .service-second-text{
            .service-second-heading-text{
                font-weight: 600;
                font-size: 1.2em;
                color: #ffb600;
                text-align: center;
                @media (min-width: 768px){
                    font-size: 2.1em;
                }
            }
            .second-text{
                color: #000000;
                font-weight: 600;
                font-size: 0.9em;
                text-align: center;
                @media (min-width: 768px){
                    font-size: 1em;
                }
            }
        }
    }
}

// service section end

//popular design section
.popular-design-sec{
    margin-top: 51px;
    .nav-tabs{
        border-bottom: 0;
        .nav-item{
            .nav-link{
                color: #ffa300;
                letter-spacing: 2px;
                font-weight: 600;
                border: none;
                &.active{
                    text-decoration: underline;
                    color: #020202;
                    border: none;
                }
             &:hover{
                 border: none;
             }
                
            }
        }
    }
    .popular-design{
        padding: 77px 0;
        padding-bottom: 0;
        .popular-design-heading{
            font-weight: 400;
            font-size: 2em; 
            @include heading_gradient;
            text-align: center;
            font-family: $secondary-font; 
            @media (min-width: 768px) {
            font-size: 4em;
            text-align: left;
            } 
        }
        .popular-design-text{
            color: #a28774;
            font-weight: 400;
            font-size: 1.2em;
            text-align: center;
            @media (min-width: 768px) {
                text-align: left;
                font-size: 1.5em;
            }
        }
    .btn-container{
        margin: 32px 0;
        text-align: center;
        @media (min-width: 768px) {
            text-align: left;
        }
        .bz-button{
            // color: #fdba00;
            // border-style:solid;
            // border-width:2px 2px;
            // border-color:#353535;
            // width: 200px;
            // height: 55px;
            // padding: 12px 10px;
            // font-size: 1.2em;
            // font-weight: 600;
            // transition: transform .2s;
            @include button(#fdba00,#fff);
            }
        }
    }
    .product{
        .img-container{
            overflow: hidden;
            img{
                transition: transform .2s;
            }
        }
       
        &:hover{
            .img-container{
                img{
                    transform: scale(1.2);
                }
            }
        }
    }
}

//popular design section

//styling section
.styling-sec {
    margin-top: 96px;
    margin-bottom: 107px;
    @media (min-width: 768px){
        margin-bottom:50px ;
    }
    .section-heading{
        position: relative;
        margin-bottom: 40px;
        .styling-heading {
            text-align: center;
            text-transform: uppercase;
            padding-top: 50px;
            // margin-bottom: 90px;
            font-family: $secondary-font;
            span {
                @include heading_gradient;
                font-weight: 700;
                font-family: $secondary-font;
                font-size: 2rem;
                @media (min-width: 768px) {
                    font-size: 3rem;
                    font-weight: 700;
                    font-family: $secondary-font;
                    margin-bottom: 90px;
                }
            }
           
            
        }
        .styling-heading-text {
            text-align: center;
            padding: 17px 0;
            font-weight: 400;
            font-family: $primary-font;
            color: #3a281f;
            font-size: 2rem;
    
        }
        
    }
    .styling{
        // box-shadow:9px 9px #ffb200;
        margin-bottom:50px;
        overflow: hidden;
        @media (min-width: 768px){
            margin-bottom:0 ;
        
        }
        // img{
        //     transition: transform .3s ease-in-out;
        // }
        // &:hover{
        //     img{
        //         transform: scale(0.9);
             
        //     }
        // }
       
    }
  
}
//end styling section

// subscribe section start

.subscribe-sec{
    background-image: url(../images/subscribe_background.jpg);
    background-size: cover;
    background-position: bottom center;
    height: 360px;
    // margin-bottom: 85px;
    @media (min-width: 992px) {
        height: 326px;
    }
    .subscribe-heading-text{
        .heading{
            font-family: $secondary-font;
            font-weight: 400;
            font-size: 2em;
            color: #060606;
            text-align: center;
            margin: 33px 0;
            margin-bottom: 0;
            letter-spacing: 7px;
            @media (min-width: 768px) {
                font-size: 4em;
                letter-spacing: 13px;
            }
        }
        .text{
            color: #7f712c;
            text-align: center;
            font-family: $secondary-font;
            font-weight: 400;
            font-size: 0.8em;
            letter-spacing: 1px;
            margin-bottom: 30px;
            @media (min-width: 768px) {
                font-size: 1em;
                letter-spacing: 2px;
            }
        }
        form{
            // text-align: center;
            padding-left: 0;
            @media (min-width: 1200px) {
                padding-left: 423px;
            }
           
            input{
                // border-top: 5px solid #686868;
                // border-bottom: 1px solid #fff;
                // border-left: 2px solid #dcdcdc;
                // border-right: 2px solid #dcdcdc;
                border: none;
                float: left;
                width: 100%;
                padding:5px 25px; 
                @media (min-width: 768px) {
                    width: 50%;
                }
                @media (min-width: 1200px) {
                    width: 42%;
                }
                &:focus{
                    outline: none;
                }
                &::placeholder{
                    color:#0c0a00;
                    font-style: italic;
                    font-weight: 300;
                    font-size: 0.8em;
                    letter-spacing: 2px;
                    @media (min-width: 768px) {
                        font-size: 1.2em;
                        letter-spacing: 4px;
                    }
                }
            }
            button{
                // float: left;
                width: 100%;
                // padding: 10px;
                background: #fce685;
                color: #0c0a00;
                font-size: 13px;
                border: none;
                padding: 7px 0;
                display: inline-block;
                font-weight: 800;
                margin-top: 10px;
                @media (min-width: 768px){
                    width: 50%;
                    margin-top: 0;
                }
                @media (min-width: 1200px) {
                    padding: 5px 19px;
                    font-size: 17px;
                    width: 15%;
                    margin-top: 0;
                }
                &:hover{
                    opacity: 0.8;
                }
            } 
        }
        .bottom-text{
            margin-top: 25px;
            color: #fffae9;
            font-weight: 800;
            font-size: 0.8em;
            text-align: center;
            letter-spacing: 1px;
            @media (min-width: 768px) {
                font-size: 0.9em;
            }
        }
       
    }
}

// subscribe section end

//review section
.review-section{
    margin-bottom: 87px;
    margin-top: 87px;
    .tns-outer{
        position: relative;
        .tns-controls{
            position: absolute;
            display: flex;
            justify-content: center;
            width: 100%;
            left: 0;
            bottom: -50px;

            @media (min-width: 1200px) {
                top: 50%;
                left:50%;
                transform: translate(-50% , -50%);
                justify-content: space-between;
                width: calc(100% + 230px);
                z-index: 3;
            }

            button{
                box-shadow: none;
                border:none;
                color:#fff;
                font-size: 2em;
                padding:2px;
                border-radius: 100%;
                height: 50px;
                width: 50px;
                background-color: #fce685;
                position: relative;
                
                &:first-child {
                    margin-right: 20px;
                }

                i{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50% ,-50%);
                }

                &:hover{
                 opacity: 0.7;
                }

                @media (min-width: 1200px) {
                    &:first-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .review-heading{
        text-align: center;
        padding-bottom: 40px;
      
        span {
            @include heading_gradient;
            font-family: $secondary-font;
            font-weight: 700;
            font-size: 2em;
            @media (min-width: 768px){
                font-size: 2em; 
            }
        }
        
    }
    .publish-review{
        .slide{
            .client-box{
                .circle-container{
                    text-align: center;
                    i{
                       color: #fccd00;
                       font-size: 3em;
                       padding-bottom: 20px;
                    }
                }
                .text{
                    color: #020202;
                    font-weight: 600;
                    font-size: 1em;
                    text-align: center;
                    line-height: 39px;
                }
                .name{
                    color: #ffae00;
                    font-weight: 600;
                    font-size: 1.3em;
                    text-align: center;
                }
            }
        }
    }
}
//end review section