.hero-section{
    height: 700px;
    // background-image: url(../images/slider.jpg);
    background-size: cover;
    background-position: top center;
    .tns-outer{
        position: relative;
        .tns-controls{
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 50%;
            left:0;
            transform: translateY(-50%);
            width: 100%;
            z-index: 3;
            button{
                background-color: transparent;
                box-shadow: none;
                border:none;
                color:#fff;
                font-size: 3em;
                padding: 0 30px;
                &:hover{
                 opacity: 0.7;
                }
            }
        }
    }
    .slides{
        .slide{
            // background-image: url(../images/heroimg.jpg);
            background-size: cover;
            background-position: top center;
                .slide-main{
                    align-items: center; 
                    height: 700px;
                .hero-text{ 
                    padding: 200px 0;
                    p{
                    padding-left: 185px;
                    font-weight: 300;
                    font-style: italic;
                    color: #ffffff;
                    font-size: 3em;
                    }
                    .hero-heading{
                        padding-left: 175px;
                        font-weight: 700;
                        // font-style: italic;
                        color: #ffffff;
                        font-size: 7em; 
                        background: linear-gradient(to right, #ffba02 6%,#e5ce5d 32%,#fcefb0 63%,#ec9601 84%);
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-family: $secondary-font;

                    }
                    .link-text{
                        width: 100%;
                        text-align: center;
                        a{
                            color: #fff;
                            font-size: 2em;
                            text-decoration: none;
                            font-weight: 400;
                            i{
                                vertical-align: middle;
                                color: #010101;
                            }
                        }
                    } 
                }      
            }
        }
    }
}

//gallery section
.gallery-sec {
    margin-top: 50px;
    margin-bottom: 30px;
    .section-heading{
        position: relative;
        margin-bottom: 40px;
        // &::before{
        //     content: "";
        //     position: absolute;
        //     width: 100px;
        //     height:2px;
        //     background-color: #000;
        //     bottom: 0;
        //     left: 50%;
        //     transform: translateX(-50%);
        // }
        .gallery-heading {
            text-align: center;
            text-transform: uppercase;
            padding-top: 50px;
            margin-bottom: 0;
            font-size: 2em;
            @media (min-width: 768px) {
                font-size: 3rem;
            }

            span {
                @include heading_gradient;
                font-weight: 700;
                font-family: $secondary-font;
            }
        }
        .gallery-heading-text {
            text-align: center;
            padding: 17px 0;
            font-weight: 400;
            font-family: $primary-font;
            color: #3a281f;
            font-size: 2rem;
    
        }
        
    }
    .btn-container{
        margin: 50px 0;  
        text-align: center;
        a{
            text-decoration: none;
            color: #020202;
            font-size: 30px;
            font-weight: 400;
            i{
                vertical-align: middle;
            }
        }
        
    }
    .gallery{
        position: relative;
        box-shadow: -9px -9px #eac600;
        .gallery-img{
            width: 100%;
        }
        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            background: change-color(#000, $alpha: 0.5);
            top:0;
            left:0;
            transform:scale(0);
            transition: 0.1s ease-in-out;
            i{
                color: #fff;
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-size: 3em;
            }
        }

        &:hover{
            .overlay{
                transform: scale(1);
            }
        }
    }
}
//end gallery section

//trends section
.trend-section {
    margin-top: 50px;
    margin-bottom: 30px;
    .section-heading{
        margin-bottom: 40px;
        .trend-heading{
            text-align: center;
            text-transform: uppercase;
            padding-top: 50px;
            margin-bottom: 0;
            font-size: 2em;
            @media (min-width: 768px) {
                font-size: 3rem;
            }

            span {
                @include heading_gradient;
                font-weight: 700;
                font-family: $secondary-font;
            }
        }
        .trend-heading-text {
            text-align: center;
            padding: 17px 0;
            font-weight: 400;
            font-family: $primary-font;
            color: #3a281f;
            font-size: 2rem;
    
        }
    }
    .fashion-container{
        display: grid;
        grid-template-areas: "left rightTop" "left rightBottom";
        gap: 35px;
        grid-template-columns: 1fr 1fr;

        .left-fashion{
            grid-area: left;

            .slides {
                .slide {
                    .slide-main {
                        @include fashion_image_section;

                        .fontlayer {
                            bottom: 30px;
                            right: 15px;
                        }
                    }
                }
            }

            .tns-outer {
                position: relative;

                .tns-nav {
                    position: absolute;
                    left: 50%;
                    bottom: 10px;
                    transform: translateX(-50%);
                    text-align: center;
                    z-index: 5;

                    button {
                        background: transparent;
                        border: 1px solid #fff;
                        box-shadow: none;
                        outline: none;
                        padding: 5px;
                        margin: 0 3px;
                        border-radius: 50%;
                        transition: all 0.12s ease-in-out;

                        &:first-child {
                            margin-left: 0;
                        }

                        &:last-child {
                            margin-right: 0;
                        }

                        &.tns-nav-active {
                            background: #fff;
                        }

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }

        .right-top-fashion{
            background-color: aqua;
            min-height: 280px;
            grid-area: rightTop;
            @include fashion_image_section('../images/fashion2.jpg');
            
            .fontlayer{
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                .fashion-heading{
                    padding:84px 10px;
                    padding-bottom: 0;
                }
                .fashion-text{
                    padding-left: 10px;
                }
            }
        }
        .right-bottom-fashion{
            min-height: 280px;
            grid-area: rightBottom;
            @include fashion_image_section('../images/fashion3.jpg');

            .fontlayer{
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                .fashion-heading{
                    padding:84px 10px;
                    padding-bottom: 0;
                }
                .fashion-text{
                    padding-left: 10px;
                }
            }
        }
    }
        
}
//ends trends section

// service section start

.service-section{
    .service-main{
        // display: flex;
        .image{
            img{
                width: 30%;
            }
        }
        .service-text{
            .service-top-text{
                font-weight: 600;
                font-size: 1.5em;
                color: #ffb600;
                text-align: center;
            }
            .text{
                color: #000000;
                font-weight: 600;
                font-size: 1em;
                text-align: center;
            }
        }
    }
    .image{
        img{
            width: 30%;
        }
    }
    .service-second-text{
        .service-second-heading-text{
            font-weight: 600;
            font-size: 1.5em;
            color: #ffb600;
            text-align: center;
        }
        .second-text{
            color: #000000;
            font-weight: 600;
            font-size: 1em;
            text-align: center;
        }
    }
}

// service section end

//popular design section
.popular-design-sec{
    margin-top: 141px;
    .popular-design{
        padding: 77px 0;
        padding-bottom: 0;
        .popular-design-heading{
            font-weight: 400;
            font-size: 5em; 
            @include heading_gradient;
            font-family: $secondary-font;  
        }
        .popular-design-text{
            color: #a28774;
            font-weight: 400;
            font-size: 1.2em;
        }
    .btn-container{
        margin: 32px 20px;
        .btn{
            color: #fdba00;
            border-style:solid;
            border-width:2px 2px;
            border-color:#353535;
            width: 200px;
            height: 55px;
            padding: 12px 10px;
            font-size: 1.2em;
            font-weight: 600;
            transition: transform .2s;
                &:hover{
                    transform: scale(1.5); 
                }
            }
        }
    }
    .product{
        .img-container{
            overflow: hidden;
            img{
                transition: transform .2s;
            }
        }
       
        &:hover{
            .img-container{
                img{
                    transform: scale(1.2);
                }
            }
        }
    }
}

//popular design section

//styling section
.styling-sec {
    margin-top: 96px;
    margin-bottom: 107px;
    .section-heading{
        position: relative;
        margin-bottom: 40px;
        .styling-heading {
            text-align: center;
            text-transform: uppercase;
            padding-top: 50px;
            margin-bottom: 90px;
            font-size: 2em;
            font-family: $secondary-font;
            @media (min-width: 768px) {
                font-size: 3rem;
                font-weight: 700;
                font-family: $secondary-font;
            }
            span {
                @include heading_gradient;
                font-weight: 700;
                font-family: $secondary-font;
                font-size: 3rem;
            }
        }
        .styling-heading-text {
            text-align: center;
            padding: 17px 0;
            font-weight: 400;
            font-family: $primary-font;
            color: #3a281f;
            font-size: 2rem;
    
        }
        
    }
    .styling{
        box-shadow:9px 9px #ffb200;
    }
}
//end styling section

// subscribe section start

.subscribe-sec{
    background-image: url(../images/subscribe_background.jpg);
    background-size: cover;
    background-position: bottom center;
    height: 264px;
    margin-bottom: 85px;
    .subscribe-heading-text{
        .heading{
            font-family: $secondary-font;
            font-weight: 400;
            font-size: 4em;
            color: #060606;
            text-align: center;
            margin: 33px 0;
            margin-bottom: 0;
            letter-spacing: 13px;
        }
        .text{
            color: #7f712c;
            text-align: center;
            font-family: $secondary-font;
            font-weight: 400;
            font-size: 1em;
            letter-spacing: 2px;
            margin-bottom: 30px;
        }
        form{
            // text-align: center;
            padding-left: 423px;
            input{
                // border-top: 5px solid #686868;
                // border-bottom: 1px solid #fff;
                // border-left: 2px solid #dcdcdc;
                // border-right: 2px solid #dcdcdc;
                border: none;
                float: left;
                width: 42%;
                padding:5px 25px; 
                &::placeholder{
                    color:#0c0a00;
                    font-style: italic;
                    font-weight: 300;
                    font-size: 1.2em;
                    letter-spacing: 4px;
                }
            }
            button{
                // float: left;
                width: 15%;
                // padding: 10px;
                background: #fce685;
                color: #0c0a00;
                font-size: 17px;
                border: none;
                padding: 5px 19px;
                // border-left: none;
                // cursor: pointer;
                display: inline-block;
                font-weight: 800;
                &:hover{
                    opacity: 0.8;
                }
            } 
        }
        .bottom-text{
            margin-top: 25px;
            color: #fffae9;
            font-weight: 800;
            font-size: 0.9em;
            text-align: center;
            letter-spacing: 1px;
        }
       
    }
}

// subscribe section end

//review section
.review-section{
    margin-bottom: 87px;
    .tns-outer{
        position: relative;
        .tns-controls{
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 50%;
            left:50%;
            transform: translate(-50% , -50%);
            width: calc(100% + 230px);
            z-index: 3;
            button{
                box-shadow: none;
                border:none;
                color:#fff;
                font-size: 2em;
                padding:2px;
                border-radius: 100%;
                height: 50px;
                width: 50px;
                background-color: #fce685;
                position: relative;
                i{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50% ,-50%);
                }
                &:hover{
                 opacity: 0.7;
                }
            }
        }
    }
    .review-heading{
        text-align: center;
        padding-bottom: 40px;
        font-size: 4em;

        span {
            @include heading_gradient;
            font-family: $secondary-font;
            font-weight: 700;
        }
        
    }
    .publish-review{
        .slide{
            .client-box{
                .circle-container{
                    text-align: center;
                    i{
                       color: #fccd00;
                       font-size: 3em;
                       padding-bottom: 20px;
                    }
                }
                .text{
                    color: #020202;
                    font-weight: 600;
                    font-size: 1em;
                    text-align: center;
                }
                .name{
                    color: #ffae00;
                    font-weight: 600;
                    font-size: 1.3em;
                    text-align: center;
                }
            }
        }
    }
}
//end review section